@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  /* z-index: 999;
  padding: 15px 0; */
  background: bisque;
  font-family: "Roboto Slab";
  /* transition: all 0.3s ease; */
}

.navbar.sticky {
  padding: 15px 0;
  background: bisque;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: brown;
  font-size: 35px;
  font-weight: 600;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: brown;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(235, 193, 143);
}

/* Home */
.home {
  display: flex;
  background: url("images/bg.jpg") no-repeat center;
  height: 100vh;
  color: black;
  min-height: 500px;
  font-family: "Roboto Slab";
  background-size: cover;
  background-attachment: fixed;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

/*overall styling*/
.about,
.projects,
.skills,
.courses,
.contact {
  font-family: "Ubuntu";
  font-size: 15px;
}

.about .about-content,
.projects .projects-content,
.skills .skills-content,
.courses .courses-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 100px 0;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Franklin Gothic Medium";
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: brown;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

/*about section*/

.about .title::after {
  content: "My Backstory";
}

.about .title::before {
  width: 180px;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Ubuntu";
}

.about .about-content .right p {
  text-align: justify;
  font-family: "Raleway";
}

.about .about-content .right a {
  display: inline-block;
  background: white;
  font-size: 20px;
  font-weight: 500px;
  padding: 1px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid brown;
  transition: all 0.3s ease;
  font-family: "Ubuntu";
}

.about .about-content .right a:hover {
  color: brown;
  background: bisque;
}

/*projects section*/
.projects {
  color: white;
  background: #111;
}

.projects .title::after {
  background: #111;
  content: "What I've Been Working On";
}

.projects .title::before {
  background: #fff;
  width: 300px;
}

.projects .projects-content p {
  text-align: center;
  padding-bottom: 20px;
}

.projects .projects-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.projects .projects-content .card:hover {
  background: brown;
}

.projects .projects-content .card .box {
  transition: all 0.3s ease;
}
.projects .projects-content .card:hover .box {
  transform: scale(1.05);
}

.projects .projects-content .card i {
  font-size: 30px;
  color: burlywood;
}
.projects .projects-content .card .text {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/*skills section*/
.skills .title::after {
  content: "What I can offer";
}
.skills .title::before {
  width: 200px;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 25px;
}

.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .left a {
  display: inline-block;
  background: white;
  font-size: 20px;
  font-weight: 500px;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid brown;
  transition: all 0.3s ease;
  font-family: "Ubuntu";
}

.skills .skills-content .left a:hover {
  color: brown;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: brown;
}

.skills-content .right .html::before {
  width: 60%;
}
.skills-content .right .css::before {
  width: 60%;
}
.skills-content .right .javascript::before {
  width: 80%;
}
.skills-content .right .java::before {
  width: 90%;
}
.skills-content .right .python::before {
  width: 90%;
}
.skills-content .right .mongodb::before {
  width: 50%;
}

.courses .title::after {
  content: "My Relevant Courses";
  color: brown;
}

.courses .title::before {
  color: black;
  width: 300px;
}

.courses .courses-content {
  display: flex;
  box-shadow: 0 0 5px 1px grey;
  width: 700px;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #222;
  border-radius: 13px;
}

.courses .courses-content a {
  color: white;
  font-family: "Cairo";
  font-weight: bold;
}

.courses .courses-content .column-left {
  width: 50%;
  text-align: center;
  line-height: 2;
}

.courses .courses-content .column-right {
  width: 50%;
  text-align: center;
  line-height: 2;
}

.contact .title::after {
  content: "Get in touch with me";
  color: brown;
}

.contact .title::before {
  color: black;
  width: 300px;
}

.contact .contact-content {
  display: flex;
  box-shadow: 0 0 6px 2px brown;
  width: 450px;
  height: 200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("businessbg.jpg");
}

.contact .contact-content .left {
  margin-left: 100px;
  font-size: 30px;
  text-align: right;
  font-weight: light;
  font-family: "Raleway";
}

.contact .contact-content .line {
  height: 70%;
  width: 0;
  margin-right: 5px;
  border: 1px solid black;
}

.contact .contact-content .right {
  margin-right: 100px;
}

.contact .contact-content .right .icon .row {
  padding-block: 5px;
}
.contact .contact-content .right .sub {
  display: inline-block;
}
@media (max-width: 1310px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1110px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 990px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 930px) {
  /* .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  } */
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    /* backdrop-filter: blur(8px); */
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  /* .navbar .menu.active {
    display: block;
  } */

  /* .navbar .menu li {
    display: block;
  } */

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }
  .about .about-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }
  .projects .projects-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 25px;
  }
}

@media (max-width: 600px) {
  .max-width {
    padding: 0 23px;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
  .projects .projects-content .card,
  .skills .skills-content .column {
    width: 100%;
  }

  .projects .title::after {
    font-size: 17px;
  }
}

@media (max-width: 500) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
}
